<h1>Subjects</h1>


<%= form_for(:subject, url: subjects_path) do |f| %>
<%= f.text_field(:subject) %>
<%= submit_tag("Create Subject") %>
<% end %>

<% @subjects.each do |subject|  %>
  <%= link_to(subject.subject, subject) %>
  <% end %>









